#Visera
*.vshader
*.vshader.meta

Apps/
Agents/
Build/
Toolkit/Forge/
.idea/
.DS_Store
cmake-build*/

**/External/**/Windows/**
**/External/**/MacOS/**
**/External/**/Linux/**
!**/External/**/Include/**/Windows/**
!**/External/**/Include/**/MacOS/**
!**/External/**/Include/**/Linux/**
*.a
*.lib
*.pdb
*.dll
*.dylib